*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    max-width: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#image-gallery{
    width: 35rem;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
h1{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
#main-image{
    width: 100%;
    align-items: center;
    padding: 1rem;
    height: 300px;
    border-radius: 30px;
    border: none;
}
#thumbnail-container{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.thumbnail{
    height: 85px;
    width: 85px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s;
    border: none;
}
.thumbnail:hover {
    transform: scale(1.1);
}